package com.ymt.dao.${moduleName};

import com.ymt.dao.base.IDao;
import com.ymt.entity.${moduleName}.${classname}Entity;


public interface I${classname}Dao extends IDao<${classname}Entity,Integer> {    
     
 
}
